* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: rgb(18, 18, 62);
  padding: 0 20px;
}

.left {
  font-size: 1.5rem;
}
.left a{
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.right ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-decoration: none;
  color: rgb(153, 153, 226);
  font-size: 1.02rem;
}

.about-container {
  max-width: 100%;
  margin: 50px auto;
  padding: 20px;
}
.about-text {
  flex: 1;
}

.about-container h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  color: rgb(170, 107, 228);
  animation: fadeIn 2s ease-in-out;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 40px;
  animation: slideIn 1.5s ease-in-out;
}

.about-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: rgb(170, 107, 228);
}

.about-text p {
  width: 100%;
  font-size: 1.1rem;
  line-height: 1.6;
  color: rgb(200, 200, 200);
}

.about-image {
  flex: 1;
}

.about-image img {
  max-width: 100%;
  border-radius: 10%;
  height: 60vh;
  width: 20vw;
  margin-left: 50%;
  box-shadow: 0 4px 15px rgba(170, 107, 228, 0.3);
  animation: float 3s ease-in-out infinite;
}

.skills-section {
  margin-top: 80px;
  animation: fadeIn 2s ease-in-out;
}

.skills-section h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
  color: rgb(170, 107, 228);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.skill-card {
  background-color: rgb(18, 18, 62);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(170, 107, 228, 0.3);
}

.skill-card i {
  font-size: 2rem;
  color: rgb(170, 107, 228);
  margin-bottom: 10px;
}

.skill-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.skill-card p {
  font-size: 0.9rem;
  color: rgb(200, 200, 200);
}

.timeline-section {
  margin-top: 80px;
  animation: fadeIn 2s ease-in-out;
}

.timeline-section h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
  color: rgb(170, 107, 228);
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: rgb(170, 107, 228);
}

.timeline-item {
  padding: 20px 40px;
  position: relative;
  width: 50%;
  animation: slideInLeft 1s ease-in-out;
}

.timeline-item:nth-child(odd) {
  left: 0;
  text-align: right;
}

.timeline-item:nth-child(even) {
  left: 50%;
  text-align: left;
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 30px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: rgb(170, 107, 228);
  border-radius: 50%;
  z-index: 1;
}

.timeline-item:nth-child(even)::after {
  left: -10px;
}

.timeline-content {
  background-color: rgb(18, 18, 62);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(170, 107, 228, 0.3);
}

.timeline-content h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: rgb(170, 107, 228);
}

.timeline-content p {
  font-size: 0.9rem;
  color: rgb(200, 200, 200);
}

@media (max-width: 768px) {
}

footer {
  background-color: #0e0e1a;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-first {
  flex: 1;
}

.footer-second {
  flex: 2;
}

.footer-rights {
  color: white;
}

.footer h3 {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

footer ul li {
  margin-bottom: 10px;
  gap: 60px;
}

footer ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s ease;
}

footer ul li a:hover {
  color: rgb(153, 153, 226);
}

.leetcode-logo {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: 50px;
  }
  .left {
    font-size: 1rem;
  }
  
  .left a{
    text-decoration: none;
    color: white;
  }

  .right ul {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    overflow-y: hidden;
    background-color: rgb(18, 18, 62);
    padding: 20px 0;
  }

  .right.active ul {
    display: flex;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  .about-text {
    width: 100%;
  }

  .about-image {
    display: none;
    width: 0;
  }

  .timeline-section {
    margin-top: 80px;
    animation: fadeIn 2s ease-in-out;
    padding: 20px;
  }

  .timeline-section h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 40px;
    color: rgb(170, 107, 228);
  }

  .timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 10px;
  }

  .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: rgb(170, 107, 228);
    transform: translateX(-50%);
  }

  .timeline-item {
    padding: 20px 10px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    animation: slideInLeft 1s ease-in-out;
    text-align: center;
  }

  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    left: 0;
    text-align: center;
  }

  .timeline-item::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: rgb(170, 107, 228);
    border-radius: 50%;
    z-index: 1;
  }

  .timeline-content {
    background-color: rgb(18, 18, 62);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(170, 107, 228, 0.3);
    width: auto;
  }

  .timeline-content h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: rgb(170, 107, 228);
  }

  .timeline-content p {
    font-size: 0.9rem;
    color: rgb(200, 200, 200);
  }
  .timeline {
    padding: 10px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .timeline-item {
    width: 100%;
    padding: 15px;
    left: 0;
    text-align: left;
    margin-bottom: 15px;
    background-color: rgb(18, 18, 62);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(170, 107, 228, 0.3);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
  }

  .timeline-item:nth-child(odd) {
    text-align: left;
  }
  .timeline-item:nth-child(even) {
    left: 0;
    text-align: left;
  }

  .timeline-item::after {
    content: none;
  }

  .timeline-item .timeline-text {
    display: none;
  }

  .timeline-item.active .timeline-text {
    display: block;
  }

  .timeline-item h3 {
    cursor: pointer;
    font-size: 1.1rem;
    color: rgb(170, 107, 228);
    margin-bottom: 10px;
  }

  .timeline-section h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(170, 107, 228);
  }

  .timeline-item p {
    font-size: 0.9rem;
    color: rgb(200, 200, 200);
    margin-top: 10px;
  }
}
